.apm/
.atom/
.amplify/
.android/
.aws/
.bash_history
.composer/*
!composer.json
.ctags
.cups/
.eclipse/
.filezilla/
.ftpconfig
.gem/
.hgignore_global
.irbrc
.keepassx/
.local/
.mysql_history
.netbeans-derby/
.npm/
.php_history
.profile
.pry_history
.rbenv/
.sqlite_history
.ssh/
.subversion/
.thumbnails/
.vagrant.d/
.vagrant/
.viminfo
.CFUserTextEncoding
.Trash/
.wapi/
.idea
.local_alias.sh
Gemfile.lock
.DS_Store
.yarn/
.pnpm/
