.android/
.bash_history
.composer/*
!composer.json
.ctags
.cups/
.eclipse/
.filezilla/
.ftpconfig
.gem/
.gitignore_global
.hgignore_global
.irbrc
.keepassx/
.local/
.mysql_history
.netbeans-derby/
.npm/
.php_history
.profile
.pry_history
.rbenv/
.sqlite_history
.ssh/
.subversion/
.thumbnails/
.vagrant.d/
.vagrant/
.viminfo
.CFUserTextEncoding
.Trash/
.wapi/
