[color]
	ui = auto

[alias]
 	st = status
	co = checkout
	ci = commit -av
	df = diff
	br = branch
	mg = merge
	subup = submodule foreach git pull origin master --ff
	graph = log --graph --date-order --decorate --stat  -C -M
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"

[user]
	name = ryota-murakami
	email = dojce1048@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = current
