[core]
  excludesFile = ~/.gitignore_global
  editor = vim
  filemode = true
  ignorecase = false
  pager = delta

[color]
  ui = true

[alias]
  st = status
  co = checkout
  br = branch
  new = "!f() { git checkout -b $1; }; f"
  up = "!f(){ git add --all && git commit -m 'up' && git push; };f"
  flush = "!f() { branches_to_delete=$(git branch --merged | grep -vE '^(\\*|\\s*(master|main)\\s*)$' | grep -v $(git worktree list | awk '{print $1}')); if [ -n \"$branches_to_delete\" ]; then echo \"$branches_to_delete\" | xargs -n 1 git branch -d; else echo 'No branches to delete'; fi; }; f"
  rollback = "!f() { git checkout $2 -- $1; echo \"Reverted $1 to commit $2\"; }; f"
  accept-all-theirs = "!f() { git checkout --theirs .; git add .; git commit; }; f"
  
  nippo = log --author=ryota-murakami --since=yesterday --format='- %s' --date=iso
  pull-submodle = submodule foreach git pull origin master --ff
  graph = log --graph --date-order --decorate --stat  -C -M
  showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  log-rev2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  rm-untracked = !git status | awk \"/Untracked files:/{flag=1; next} /no changes added to commit/{flag=0} flag\" | sed \"s/^\\t//\" | xargs rm -rf
  tree-changes = "!f() { \\\n  branch_point=$(git merge-base origin/main HEAD); \\\n  git log --no-merges --name-status --relative $branch_point..HEAD | \\\n  awk '{print $1 \" \" $2}' | \\\n  while read status file; do \\\n    case $status in \\\n      A) echo \"Added: $file\";; \\\n      M) echo \"Modified: $file\";; \\\n      D) echo \"Deleted: $file\";; \\\n    esac; \\\n  done | \\\n  tree --fromfile; \\\n}; f"
  aspr = "!f() { branch_name=\"pr-commit-$(date +%s)\"; git checkout -b \"$branch_name\"; git add --all; git commit -m 'commit'; git push -u origin \"$branch_name\"; gh pr create --title \"Automated Pull Request from $branch_name\" --body \"This is an automated pull request.\"; gh browse; }; f"


[user]
  name = Ryota Murakami
  email = dojce1048@gmail.com
[push]
  default = current
[pull]
  rebase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[delta]
  navigate = true
[init]
  defaultBranch = main
[gui]
  fontui = -family .AppleSystemUIFont -size 16 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family Menlo -size 18 -weight normal -slant roman -underline 0 -overstrike 0
[interactive]
  diffFilter = delta --color-only
[color "diff-highlight"]
  oldNormal = red bold
  boldoldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  boldfunc = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
