.CFUserTextEncoding
.DS_Store
.Trash/
.amplify/
.android/
.apm/
.atom/
.aws/
.bash_history
.composer/*
!composer.json
.ctags
.cups/
.cursor
.eclipse/
.filezilla/
.ftpconfig
.gem/
.gemini-clipboard
.hgignore_global
.idea
.irbrc
.keepassx/
.local/
.local_alias.sh
.logs
.mysql_history
.netbeans-derby/
.npm/
.php_history
.pnpm/
.profile
.pry_history
.rbenv/
.sqlite_history
.ssh/
.subversion/
.thumbnails/
.vagrant.d/
.vagrant/
.viminfo
.wapi/
.yarn/
.zshenv
Gemfile.lock
