[color]
  ui = true

[alias]
  st = status
  co = checkout
  br = branch
  up = "!f(){ git add --all && git commit -m 'up'; };f"
  nippo = log --author=ryota-murakami --since=yesterday --format='- %s' --date=iso
  pull-submodle = submodule foreach git pull origin master --ff
  graph = log --graph --date-order --decorate --stat  -C -M
  showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  log-rev2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  rm-untracked = "!git status | awk \"/Untracked files:/{flag=1; next} /no changes added to commit/{flag=0} flag\" | sed \"s/^\\t//\" | xargs rm -rf"

[user]
  name = ryota-murakami
  email = dojce1048@gmail.com
[core]
  excludesFile = ~/.gitignore_global
  editor = vim
  filemode = false
  ignorecase = false
  pager = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = current
[pull]
  rebase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[init]
  defaultBranch = main
[gui]
  fontui = -family .AppleSystemUIFont -size 16 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family Menlo -size 18 -weight normal -slant roman -underline 0 -overstrike 0
[interactive]
  diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
  oldNormal = red bold
  boldoldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  boldfunc = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
