"*":
  core:
    disabledPackages: [
      "linter-phpcs"
      "linter-eslint"
    ]
    excludeVcsIgnoredPaths: false
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "7ff91767-5b77-dd92-39e5-bb5b73078a8d"
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "php-getters-setters": {}
  "terminal-plus":
    core: {}
    style: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    autoIndent: true
