"*":
  "exception-reporting":
    userId: "271deda4-ff3a-c84c-1edf-74ed1454d443"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
  react: {}
  "highlight-selected": {}
  "linter-jsxhint": {}
  "git-plus": {}
  "gist-it": {}
  "linter-phpcs": {}
  "remote-sync": {}
