blog:
  title: "blog"
  paths: [
    "/Users/tokyorefrain/aws-develop/blog"
  ]
"react-testing":
  title: "react-testing"
  paths: [
    "/Users/tokyorefrain/repository/react-testing"
  ]
"rails-4-1-rspec-3-0":
  title: "rails-4-1-rspec-3-0"
  paths: [
    "/Users/tokyorefrain/repository/rails-4-1-rspec-3-0"
  ]
"tweet-pick":
  title: "tweet-pick"
  paths: [
    "/Applications/xampp/htdocs/tweet-pick"
  ]
"Symfony2-CRUD-Sample":
  title: "Symfony2-CRUD-Sample"
  paths: [
    "/Applications/xampp/htdocs/Symfony2-CRUD-Sample"
  ]
