"*":
  editor:
    invisibles: {}
    showInvisibles: true
    fontSize: 15
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    disabledPackages: [
      "atom-ctags"
      "metrics"
      "atom-pronama-chan"
      "git-log"
      "linter-rubocop"
      "linter-erb"
      "linter-tidy"
      "linter-bootlint"
      "linter-ruby"
      "linter-scss-lint"
    ]
    audioBeep: false
  "exception-reporting":
    userId: "b786ade8-5c2d-192e-7f20-66ad8f4f4a31"
  welcome:
    showOnStartup: false
  "remote-edit": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "tree-view": {}
  "rails-transporter": {}
  linter: {}
  "git-log": {}
  react: {}
  "atom-pronama-chan":
    images: {}
    startVoice: {}
    themeDir: "zunko"
  "linter-php": {}
  "linter-phpcs": {}
  "linter-rubocop":
    executablePath: "/Users/tokyorefrain/.rbenv/versions/2.2.0/bin/rubocop"
  "git-plus": {}
  preview:
    _analyticsUserId: "64ac7c0c-935d-4f58-8a72-412d63cf6150"
  "linter-ruby": {}
".basic.html.text":
  editor:
    tabLength: 2
