blog:
  title: "blog"
  paths: [
    "/Users/tokyorefrain/aws-develop/blog"
  ]
"tweet-pick":
  title: "tweet-pick"
  paths: [
    "/Users/tokyorefrain/vagrant/CentOS/tweet-pick"
  ]
perfect_framework:
  title: "perfect_framework"
  paths: [
    "/Applications/XAMPP/xamppfiles/htdocs/perfect_framework"
  ]
"react-testing":
  title: "react-testing"
  paths: [
    "/Users/tokyorefrain/repository/react-testing"
  ]
"static-page-testing":
  title: "static-page-testing"
  paths: [
    "/Users/tokyorefrain/repository/static-page-testing"
  ]
